* {
  box-sizing: border-box;
}

.body{
  font-size: 16px;
  line-height: 1.5;
  font-family: "open sans", "areal", sans-serif;
  font-family: "open sans condensed", Arial, sans-serif;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

.header{
  background-color: rgba(255, 255, 255, 1);
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  width: 100%;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.header-logo{
  text-decoration: none;
  display: flex;
  align-items: center;
}


.logo-img{
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s ease 0s, opacity 0.3s ease 0s;
  margin-right: 16px;
}


.logo-text{
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 1px;
  color: rgba(34, 34, 34, 1);
  transition: color 0.5s ease;
}

.logo-text:hover{
  color: rgb(222, 46, 84);
}

.site-header-aktions{
  display: flex;
  align-items: center;
}


.sitenav-list{
  list-style: none;
  display: flex;
  margin-right: 80px;
}


ul{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.sitenav-items{
  margin-right: 32px;
}

.sitenav-items:last-child{
  margin: 0;
}

.sitenav-link{
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(34, 34, 34, 1);
  transition: color 0.5s ease;
}

.sitenav-link:hover{
  color: rgb(222, 46, 84);
}

.button{
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid rgb(255, 255, 255);
  border-image: initial;
  border-radius: 8px;
  transition: border 0.6s ease, background-color 0.6s ease, opacity 0.6s ease;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(222, 46, 84, 1);
  color: rgba(255, 255, 255, 1)
}

.button:hover{
  color: rgb(222, 46, 84);
  background-color: rgb(255, 255, 255);
}


/* HERO */
.hero{
  background-color: rgba(14, 180, 193, 1);
}

.hero-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-heading{
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 1);
}

.hero-text{
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 2px;
}

.sign-button:hover{
  background-color: rgb(222, 46, 84);
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

/* futures */
.heading{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}



.big-heading{
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 56px;
}


.future-list{
  width: 864px;
  margin-bottom: 64px;
  list-style: none;
}

ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.future-items:not(:last-child){
  margin-bottom: 80px;
}


.future-items{
  display: flex;
}

.feature-item-img{
  margin-right: 64px;
}



.future-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  color: rgba(34, 34, 34, 1);
}

.feature-info{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  color: rgba(68, 68, 68, 1);
  margin-top: 0;
  margin-bottom: 0;
}

.btn-button{
  display: flex;
  justify-content: center;
}

.cta{
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: center;
  background-color: rgba(14, 180, 193, 1);
  color: #fff;
}

.cta-big-heading{
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 1);
  margin-top: 0;
  margin-bottom: 40px;
}

.first{
  margin-right: 40px;
}


.cta-text-list{
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid rgb(255, 255, 255);
  border-image: initial;
  border-radius: 8px;
  transition: border 0.3s ease 0s, background-color 0.3s ease 0s, opacity 0.3s ease 0s;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 1);
  transition: background-color 0.5s ease;
}

.cta-text-list:hover{
  background-color: rgb(222, 46, 84);
}

.footer{
  background-color: rgba(34, 34, 34, 1);
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-logo{
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  text-decoration: none;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  transition: color 0.3s ease 0s, opacity 0.3s ease 0s;
}

.footer-logo-img{
  margin-right: 16px;
}

.footer-logo-text{
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 1px;
  transition: color 0.5s ease;
}

.footer-logo-text:hover{
  color: rgb(222, 46, 84);
}

.site-footer-links{
  list-style: none;
  display: flex;
}

.test-link{
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 1);
  margin-right: 32px;
  transition: color 0.5s ease;
}


.test-link:hover{
  color: rgb(222, 46, 84);
}